// Notes
// for font sizes, set variables, but use rem. also use rem for padding and margins
// worst case, you can change the variable values to pixels
// benefit of rem is that it will work when a user sets a default font size through browser settings

// TODO: deliver different size images for different viewports using srcset
// TODO: add 3 more projects (6 in total)

// use javascript for repeating elements (external links)

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,400,1,0");

:root {
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 300;

  --color-accent: rgb(250, 205, 213);
  --icon: 2rem;
}

$page-padding: 30px;
$padding-reverse: -1 * $page-padding;
$grid-gap: 20px;
$min-grid-card-width: 250px;
$tablet-size-min: $min-grid-card-width * 2 + $grid-gap + $page-padding * 2;

// General styles
* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.external-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: var(--icon);

  a {
    color: black;
    text-decoration: none;
    font-size: inherit;

    span {
      font-size: inherit;
    }
  }
}

.templates {
  display: none;
}

// Body
body {
  margin: 0;
  padding: $page-padding;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

// About me
.about-me {
  display: flex;
  flex-direction: column;
  position: relative;

  .portrait {
    // display: grid;
    // grid-template-rows: 1fr min-content;
    // justify-content: center;
    // justify-items: center;

    position: relative;

    img {
      // grid-row: 1 / -1;
      // grid-column: 1 / 2;
      max-width: 100%;
      object-fit: cover;
      aspect-ratio: 0.9;

      box-shadow: -5px 0px 30px rgba(0, 0, 0, 0.408);
    }

    .my-name {
      grid-row: 2 / -1;
      grid-column: 1 / 2;

      color: white;
      margin: 5px 0;
    }
  }

  &::before {
    position: absolute;
    background-color: var(--color-accent);

    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin: $padding-reverse;
    clip-path: polygon(0 0, 0 85vw, 100% 50vw, 100% 0);
  }
}

// My work
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-grid-card-width, 1fr));
  gap: $grid-gap;
}

.project {
  box-shadow: -3px 3px 40px rgba(0, 0, 0, 0.123);

  img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr min-content;

    padding: 15px;

    h2 {
      margin: 0;
    }

    .external-links {
      gap: 5px;
      font-size: 25px;
    }

    p {
      margin: 10px 0;
      grid-column: 1 / -1;
    }
  }
}

// Footer
footer {
  margin: $padding-reverse;
  margin-top: 0;

  .contact-me {
    background: var(--color-accent);
    padding: $page-padding;

    h1 {
      margin: 0;
    }

    .address,
    .phone,
    .email {
      margin: 5px 0;
    }

    .external-links {
      margin-top: 30px;
    }
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

// Media queries
@media (min-width: $tablet-size-min) {
  h1 {
    text-align: left;
  }

  .about-me {
    flex-direction: row;

    .portrait {
      width: 100%;
    }

    &::before {
      clip-path: polygon(0 0, 0 80%, 100% 30%, 100% 0);
    }
  }
}
